<template name="status-auction">
    <div>
      <h1 class="domain-name"><strong>{{name}}</strong> {{_ "auction.isWaitingForBids"}}</h1>
 
        {{>component_explainerBid}}

        {{#if hasBids}}

          {{#each bid in bids}}
          {{> components_bid bid=bid status='auction' }}
          {{/each}}

        {{else}}

          {{#if hasNode}}
            {{#unless TemplateVar.get 'outOfTime'}}
              {{>components_newBid}}
            {{else}}
              <button type="submit" class="dapp-block-button" disabled="true"> {{_ "auction.buttonBidsClosed"}} </button><br><br>
              {{_ "auction.aboutToGoInTheRevealPhase"}}
            {{/unless}}
          {{else}}
            {{> components_noNode}}
          {{/if}}

        {{/if}}
          
    </div>
</template>

<template name="aside-auction">
    {{>components_watch name=name}}

    <h3> {{_ "auction.timeRemaining"}}</h3>
    <h1>{{timeRemaining}}</h1>
    <p>{{revealDate}}</p>

    <p> 
      {{{_ "auction.attention"}}}
    </p>    

</template>