<template name="status-open">
    <div>
      <h1 class="domain-name">{{{_ "open.nameIsAvailable" name}}}</h1> 
        {{>component_explainerBid}}
    </div>

      {{#unless hasBids}}
      {{#if hasNode}}
  
          {{>components_newBid}}

          <p>
          {{_ "open.or"}}
          </p>

          <button type="submit" class="open-auction" disabled={{opening}}> 
            {{#if opening}}
              {{_ "open.buttonOpening"}}
            {{else}}
              {{_ "open.buttonOpenWithoutBidding"}}
            {{/if}}
          </button>

        {{else}}
        {{> components_noNode}}
        {{/if}}
      {{else}}
      <div class="unused-bids">
          {{{_ "open.youHaveBidButTheAuctionIsNotOpen"}}}

          {{#each bid in bids}}
          {{> components_bid bid=bid status='open' }}
          {{/each}}

          <br>
          <button type="submit" class="open-auction dapp-block-button" disabled={{opening}}> 
            {{#if opening}}
              {{{_ "open.buttonOpening"}}}
            {{else}}
              {{{_ "open.buttonOpenAuction"}}}
            {{/if}}
          </button>
      </div>
      <div style="visibility: hidden;">{{>components_newBid}}</div>      
      {{/unless}}

</template>

<template name='aside-open'>
      {{>components_watch name=name}}
</template>