<template name="status-open">
    <div>
      <h1 class="domain-name">{{{_ "open.nameIsAvailable" name}}}</h1> 
        <p>
            {{{_ "open.whatIsENS1"}}}
        </p>
        <p>
          {{{_ "open.whatIsENS2"}}}
        </p>

        {{#if hasNode}}
  
          <p><input type="checkbox" id="agreement" name="agreement"> <label for="agreement">{{_ "open.understand"}} <a href="#terms" class="explainer">{{_ "open.understandDescription"}} </a>.</label></p>
          {{#if TemplateVar.get 'agree'}}
          <button type="submit" class="dapp-block-button open-auction" disabled={{opening}}> 
            {{#if opening}}
              {{_ "open.buttonOpening"}}
            {{else}}
              {{_ "open.buttonOpenAuction"}}
            {{/if}}
          </button>
          {{else}}
              <button type="submit" class="dapp-block-button open-auction" disabled='true'> {{_ "open.buttonOpenAuction"}} </button> 
          {{/if}}

        {{else}}
        {{> components_noNode}}
        {{/if}}
        
      </div>

      {{#if hasBids}}
      <div class="unused-bids">
          <h3>Unused bids</h3>

          {{{_ "open.youOpenBids" }}}

          {{#each bid in bids}}
          {{> components_bid bid=bid status='open' }}
          {{/each}}
      </div>
      {{/if}}

</template>

<template name='aside-open'>
      {{>components_watch name=name}}
</template>