<template name="status-owned">
  {{#if isMine}}
    <h1 class="domain-name">{{{_ "owned.youOwn" name}}}</h1> 
  {{else}}
    <h1 class="domain-name">{{{_ "owned.nameIsOwned" name}}}</h1> 
  {{/if}}

  <p>
      {{{_ "owned.description1" registrationDate highestBid}}} 
  {{#if deedValueIsMin}} 
      {{{_ "owned.deedValueIsMin"}}}
  {{else}} 
      {{{_ "owned.secondHighestBid" deedValue}}}
  {{/if}}
  </p>

  <p>{{_ "owned.ownedBy"}} {{> components_address addr=owner}} </p>
  <p>{{{_ "owned.renewDate" renewalDate}}}</p>
  
  <div class="records-section">
    <h3>{{_ "owned.records"}}</h3>
    {{#if (TemplateVar.get 'hasSetResolver')}}
      <p class="addr-record">
        <strong>addr:</strong>
        {{#if (TemplateVar.get 'editingAddr')}}
          {{> dapp_addressInput }} <br>
          {{#if (TemplateVar.get 'settingAddr')}}
            <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonApplying"}}</button>
            <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonCancel"}}</button>
          {{else}}
            <button class="dapp-block-button set-addr dapp-small">{{_ "owned.buttonApply"}}</button>
            <button class="dapp-block-button cancel-edit-addr dapp-small">{{_ "owned.buttonCancel"}}</button>
          {{/if}}
          
        {{else}}
          {{#if records.addr}}
            {{> components_address addr=records.addr }} <br><br>
            {{#if isMine}}
              <button class="dapp-block-button edit-addr dapp-small">{{_ "owned.buttonEdit"}}</button>
            {{/if}}
          {{else}}
            <span>{{_ "owned.notSet"}}</span>
          {{/if}}
        {{/if}}
      </p>
      <p>
        <strong>{{_ "owned.content"}}</strong>
        {{#if records.content}}
          <strong>{{records.content}}</strong>
        {{else}}
          <span>{{_ "owned.notSet"}}</span>
        {{/if}}
      </p>
    {{else}}
      <p>
        {{_ "owned.recordsAreNotEnabled"}}
      </p>
      {{#if isMine}}
        <p>
          {{{_ "owned.basicResolver"}}}
        </p>
        {{#if (TemplateVar.get 'settingResolver')}}
          <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonSettingResolver"}}</button>
        {{else}}
          <button class="dapp-block-button set-resolver dapp-small">{{_ "owned.buttonSetResolver"}}</button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

  
  {{#if isMine}}
    <div class="transfer-section">
        <h3>{{_ "owned.transferOrRelease"}}</h3>
        <p>{{_ "owned.transferOwnership" name}} <br></p>
        <p>
        {{_ "owned.accountToTransfer"}}
        {{> dapp_addressInput }}
        </p>
        {{#if transferring}}
        <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonTransferring"}}</button>
        {{else}}
        <button class="dapp-block-button transfer dapp-small">{{_ "owned.buttonTransfer"}}</button>
        {{/if}}
        <br>
        {{#if canRelease}}
        <p>{{{_ "owned.releaseDescription" deedValue}}} <br></p>

        {{#if releasing}}
        <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonReleasing"}}</button>
        {{else}}
        <button class="dapp-block-button release dapp-small">{{_ "owned.buttonRelease"}}</button>
        {{/if}}


        {{else}}
         {{{_ "owned.dontWantToHoldThisName" releaseDate deedValue}}}
        {{/if}}
        
    </div>
  {{/if}}

    {{#if hasBids}}
    <div class="unused-bids">
        <h3>{{_ "owned.expiredBids"}}</h3>

        {{_ "owned.expiredBidsAreBurned"}}

        {{#each bid in bids}}
        {{> components_bid bid=bid status='owned' }}
        {{/each}}
    </div>
    {{/if}}  
</template>

<template name="aside-owned">
    {{>components_watch name=name}}

    <h3>{{_ "owned.aboutThisName"}}</h3>

    <ul>
        <li>
            {{{_ "owned.etherLockedInThisName" deedValue}}}
        </li>
        
    </ul>
</template>
