<template name="status-owned">
  {{#if isMine}}
    <h1 class="domain-name">{{{_ "owned.youOwn" (TemplateVar.get 'name') }}}</h1> 
  {{else}}
    <h1 class="domain-name">{{{_ "owned.nameIsOwned" (TemplateVar.get 'name') }}}</h1> 
  {{/if}}

  <p>
      {{{_ "owned.deedValueIsMin"}}}
  {{#if noBids}} 
      {{{_ "owned.deedValueIsMin"}}}
  {{else}} 
      {{{_ "owned.secondHighestBid" finalValue}}}
  {{/if}}
  </p>

  {{#if needsFinalization}}
    <p>{{{_ "owned.ownedBy"}}} {{> components_address addr=deedOwner}} </p>
    {{#if hasOwner}}
      <p>{{{_ "owned.assignedTo"}}} {{> components_address addr=owner}} </p>
    {{/if}}
    <p>{{{_ "owned.renewDate" renewalDate}}}</p> 

    <p> {{{_ "owned.ownerHasnotSetUpAnything"}}} {{#if canRefund}}, {{{_ "owned.claimedTheir" (dapp_formatBalance refund "0,0.00[0000]") }}}  {{/if}} {{{_ "owned.yet"}}}.</p>

    {{#if hasNode}}
      {{#if isMine}}

        <button class="dapp-block-button finalize" disabled={{finalizing}}>
          {{#if finalizing}}
            {{{_ "owned.buttonSettingItUp"}}}
          {{else}}
            {{{_ "owned.buttonSetUpYourName"}}}
            {{#if canRefund}}
            {{{_ "owned.etherBack" (dapp_formatBalance refund "0,0.00[0000]") }}}
            {{/if}}
          {{/if}}
        </button>

      {{else}}
        <button class="dapp-block-button disabled" disabled>{{{_ "owner.onlyOwnerCanSetUp"}}} </button>
      {{/if}}
    {{else}}
    {{> components_noNode}}
    {{/if}} 

  {{else}}

    <p>{{{_ "owned.ownedBy"}}} {{> components_address addr=owner}} </p>
    <p>{{{_ "owned.renewDate" renewalDate}}}</p>
 

  <div class="records-section">
    <hr>
    {{#if (TemplateVar.get 'hasSetResolver')}}
      <p class="addr-record">
        <h3>{{{_ "owned.mainEthereumAddress"}}}</h3>
        {{#if (TemplateVar.get 'editingAddr')}}
          {{> dapp_addressInput }} <br>
          
          {{#if (TemplateVar.get 'settingAddr')}}
            <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonApplying"}}</button>
            <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonCancel"}}</button>
          {{else}}
            <button class="dapp-block-button set-addr dapp-small">{{_ "owned.buttonApply"}}</button>
            <button class="dapp-block-button cancel-edit-addr dapp-small">{{_ "owned.buttonCancel"}}</button>
          {{/if}}
          
        {{else}}
          {{#if records.addr}}
            {{> components_address addr=records.addr }} <br><br>
            {{#if isMine}}
              <button class="dapp-block-button edit-addr dapp-small">{{_ "owned.buttonEdit"}}</button>
            {{/if}}
          {{else}}
            <span>{{_ "owned.notSet"}}</span>
          {{/if}}
        {{/if}}
      </p>
      <p class="content-record">
        <h3>{{{_ "owned.contenHash"}}}</h3>

        {{#if (TemplateVar.get 'editingHash')}}
          <input type="text" class="content-input" value="{{TemplateVar.get 'newHash'}}"> <br><br>
          
          {{#if (TemplateVar.get 'settingHash')}}
            <button class="dapp-block-button disabled dapp-small" disabled>{{{_ "owned.buttonApplying"}}}</button>
            <button class="dapp-block-button disabled dapp-small" disabled>{{{_ "owned.buttonCancel"}}}</button>
          {{else}}
            <button class="dapp-block-button set-hash dapp-small">{{{_ "owned.buttonApply"}}}</button>
            <button class="dapp-block-button cancel-edit-hash dapp-small">{{{_ "owned.buttonCancel"}}}</button>
          {{/if}}
          
        {{else}}
          {{#if records.content}}
            <a href="bzz://{{records.content}}/">bzz://{{records.content}}/</a> <br><br>
            {{#if isMine}}
              <button class="dapp-block-button edit-hash dapp-small">{{{_ "owned.buttonEdit"}}}</button>
            {{/if}}
          {{else}}
            <span>not set</span>
          {{/if}}
        {{/if}}



      </p>
    {{else}}
      <h3>{{{_ "owned.records"}}}</h3>
      <p>
        {{_ "owned.recordsAreNotEnabled"}}
      </p>
      {{#if isMine}}
        <p>
          {{{_ "owned.basicResolver"}}}
        </p>
        {{#if (TemplateVar.get 'settingResolver')}}
          <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonSettingResolver"}}</button>
        {{else}}
          <button class="dapp-block-button set-resolver dapp-small">{{_ "owned.buttonSetResolver"}}</button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

  
    {{#if isMine}}
    <div class="transfer-section">
        <hr>    
        <h3>{{{_ "owned.transferOrRelease"}}}</h3>
        <p>{{{_ "owned.transferOwnership" name}}} <br></p>
        <p>{{{_ "owned.attention"}}}</p>
        <p>
        {{{_ "owned.accountToTransfer"}}}
        </p>
        <p>
        {{> dapp_addressInput }}
        </p>
        {{#if transferring}}
        <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonTransferring"}}</button>
        {{else}}
        <button class="dapp-block-button transfer dapp-small">{{_ "owned.buttonTransfer"}}</button>
        {{/if}}
        <br>
        {{#if canRelease}}
        <p>{{{_ "owned.releaseDescription" finalValue}}} <br></p>

        {{#if releasing}}
        <button class="dapp-block-button disabled dapp-small" disabled>{{_ "owned.buttonReleasing"}}</button>
        {{else}}
        <button class="dapp-block-button release dapp-small">{{_ "owned.buttonRelease"}}</button>
        {{/if}}


        {{else}}
         {{{_ "owned.dontWantToHoldThisName" releaseDate finalValue}}}
        {{/if}}
        
    </div>
    {{/if}}  <!-- /if mine -->
  {{/if}}   <!-- /if needsFinalizing -->

    {{#if hasBids}}
    <div class="unused-bids">
        <h3>{{_ "owned.expiredBids"}}</h3>

        {{_ "owned.expiredBidsAreBurned"}}

        {{#each bid in bids}}
        {{> components_bid bid=bid status='owned' }}
        {{/each}}
    </div>
    {{/if}}  
</template>

<template name="aside-owned">
    {{>components_watch name=name}}

    <h3>{{_ "owned.aboutThisName"}}</h3>

    <ul>
        <li>
			{{{_ "owned.etherLockedInThisName" finalValue}}}
        </li>
        {{#if canRefund}}
        <li>
			{{{_ "owned.etherStillHeldInThisName" deedBalance}}}
        </li>
        {{/if}}
        
    </ul>
</template>
