<template name="components_bid">
  <div class="components_bid">

    {{#if isRevealed}}
      <p>
        {{{_ "bid.payAndRefundEther" (dapp_formatBalance bid.value "0,0.00") (dapp_formatBalance bid.depositAmount "0,0.00") }}}
      </p>       
      <p><span></span></p>
    {{else}}


      {{#if expired}}
      <p>
        {{{_ "bid.payAndDeposite" (dapp_formatBalance bid.value "0,0.00") (dapp_formatBalance bid.depositAmount "0,0.00") }}} 
      </p>       
        {{#if revealing}}
          <button class="dapp-block-button disabled" disabled>{{_ "bid.buttonRevealing"}}</button>
        {{else}}
          <button class="dapp-block-button reveal-bid">{{_ "bid.recoverEther" recoverAfterBurn}}</button>
        {{/if}}
      
      {{else}}

      <p>
        {{{_ "bid.payEther" (dapp_formatBalance bid.value "0,0.00") }}} <br>
        {{{_ "bid.depositWillBePartialy" (dapp_formatBalance bid.depositAmount "0,0.00") }}}
      </p>  
      {{#if canReveal}}
        {{#if revealing}}
          <button class="dapp-block-button disabled" disabled>{{_ "bid.buttonRevealing"}}</button>
        {{else}}
          <button class="dapp-block-button reveal-bid">{{_ "bid.buttonReveal"}}</button>
        {{/if}}
      {{/if}}

      {{/if}}
    {{/if}}
  </div>
</template>
