<template name="components_nameStatus">
  {{#if searched}}
    <div class="main-content col-md-8 {{#if TemplateVar.get 'loading'}}loading{{/if}}">
      {{#if (TemplateVar.get 'error')}}
        <h1>Error getting entry</h1>
        <p>{{TemplateVar.get 'error'}}</p>
      {{else}}
        {{> Template.dynamic template=(TemplateVar.get 'status') data=(TemplateVar.get 'nameInfo')}}
      {{/if}}
    </div>
    <aside class="col-md-4">
        {{> Template.dynamic template=(TemplateVar.get 'aside') data=(TemplateVar.get 'nameInfo')}}
        {{>view_names}}
    </aside>    
  {{else}}
    <div class="col-md-8">

        <h1>{{_ "nameStatus.register"}}</h1>      

        {{#if showStats}}
        <ul class="big-numerals">
            <li>
                <span class="big-numeral">{{namesRegistered}}</span> <br> {{_ "nameStatus.namesRegistered"}}
            </li>
            <li>
                <span class="big-numeral">{{percentageDisputed}}</span> <span class="unit">%</span> <br> {{_ "nameStatus.percentageDisputed"}}
            </li>
            <li>
                <span class="big-numeral">{{averageValue}}</span> <span class="unit">ether</span> <br> {{_ "nameStatus.averageValue"}}
            </li>
        </ul>
        {{/if}}
        
        {{> component_explainerBody}}


        {{#unless hasNode}}
        {{> components_noNode}}
        {{/unless}}  

        {{#if hasAuctions}}

        <br>
        <h3> {{_ "nameStatus.knownsAuctions"}} </h3>

        {{_ "nameStatus.auctionsAreSemiPrivate"}}


        <ul class="names">
          {{#each auction in publicAuctions}}
              <li>
                  <a href='#{{auction.name}}'>{{auction.fullname}}</a> 
              </li>
            {{/each}}
        </ul>

          {{#if showExpiring}}
          <br>
          <h3> {{_ "nameStatus.knownsAuctionsExpire"}} </h3>


          <ul class="names">
            {{#each auction in publicAuctionsAboutToExpire}}
                <li>
                    <a href='#{{auction.name}}'>{{auction.fullname}}</a> 
                </li>
              {{/each}}
          </ul>
          {{/if}}
        {{/if}}

        <br>
        {{#if namesRegistered}}
        <h3> {{_ "nameStatus.knownsNames"}} </h3>

        {{_ "nameStatus.beforeANamesIsGranted"}}
        <ul class="names">
          {{#each auction in knownNamesRegistered}}
              <li>
                  <a href='#{{auction.name}}' class='{{#if canBeInvalidated auction.name }}can-invalidate{{/if}}'>{{auction.fullname}}</a>  
                    {{#if canBeInvalidated auction.name }}
                    <icon class="icon-alert">!</icon> 
                    {{/if}}
              </li>
            {{/each}}
        </ul>

        {{/if}}

    </div>
    <aside class="col-md-4">
        {{>view_names}}
    </aside> 
  {{/if}}
</template>

<template name="status-forbidden">
    <div>
        <h1>{{_ "nameStatus.nameIsTooShort"}}</h1>
        <p>
            {{_ "nameStatus.onTheTemporaryRegistrar"}}
        </p>
    </div>
</template>

<template name="status-forbidden-can-invalidate">
    <div>
        <h1>{{_ "nameStatus.nameIsTooShort"}}</h1>
        <p>
            {{_ "nameStatus.onTheTemporaryRegistrar"}}
        </p>
        <p>
            {{{_ "nameStatus.inValidateDescription"}}}
        </p>

        {{#if hasNode}}
        <button class="dapp-block-button invalidate"> {{_ "nameStatus.buttonInvalidate"}} </button>
        {{else}}
        {{> components_noNode}}
        {{/if}}
    </div>
</template>

<template name="aside-forbidden-can-invalidate">
   <h3>{{_ "nameStatus.aboutThisName"}}</h3>

    <ul>
        <li>
            <span class="big-numeral">{{value}}</span> <span class="unit">ether</span> {{_ "nameStatus.lockedInThisName"}}
        </li>
        <li>
            <span class="big-numeral">{{invalidatorFee}}</span> <span class="unit">ether</span> {{_ "nameStatus.invalidatorFee"}}
        </li>
    </ul>
</template>

<template name="status-reveal">
    <div>
        <h1> {{{_ "nameStatus.waitingForBidsToBeRevealed" name}}} </h1>
        {{#if hasBids}}
          <h3>{{_ "nameStatus.yourBids"}}</h3>

          {{#each bid in bids}}
          {{> components_bid bid=bid status='reveal' }}
          {{/each}}

        {{/if}}
        
        {{#unless hasNode}}
        {{> components_noNode}}
        {{/unless}}
    </div>
</template>

<template name="aside-reveal">
    {{>components_watch name=name}}

    <h3> {{_ "nameStatus.timeRemaining"}}</h3>
    <h1>{{timeRemaining}}</h1>
    <p> {{registrationDate}} </p>
    <h3>{{_ "nameStatus.currentHighestBidder"}}</h3>
    <span class="big-numeral">{{highestBid}}</span> <span class="unit">ether</span>

</template>

<template name="status-finalize">
   <h1 class="domain-name">{{{_ "nameStatus.nameIsOwned" name}}}</h1> 

    <p>
        {{{_ "nameStatus.theNameWasRegistered" registrationDate highestBid}}}
    </p>

    <p>{{_ "nameStatus.ownedBy"}} {{> components_address addr=owner}}</p>
    <p>{{_ "nameStatus.needsToBeRenewedBy"}} <strong>{{renewalDate}}</strong></p> 

    <p> <strong> {{_ "nameStatus.finalizedByTheOwner" refund}}</strong></p>

    {{#if hasNode}}
    {{> finalizeButton }}
    {{else}}
    {{> components_noNode}}
    {{/if}}    
   
</template>


<template name='aside-finalize'>
      {{>components_watch name=name}}
</template>

<template name="finalizeButton">
  <button class="dapp-block-button finalize" disabled={{finalizing}}>
    {{#if finalizing}}
      {{_ "nameStatus.buttonFinalizing"}}
    {{else}}
      {{_ "nameStatus.buttonFinalizeIt"}}
    {{/if}}
  </button>
</template>
