<template name="modals_restore">
  <h1>{{_ "restore.title"}}</h1>
  <p>
    {{_ "restore.description"}} <br>
    
    <input type="file" id="restore-input" style="margin: 30px auto 0;">

    {{#if fileError}}
      <p style="color: red">{{fileError}}</p>
    {{else}}
      {{#if fileIsLoaded}}
        <p>{{_ "restore.totalBids" totalBids}}</p>
        {{#if newBidsCount}}
          <p>{{_ "restore.newBids" newBidsCount}}</p>
        {{else}}
          <p>{{_ "restore.noNewBids"}}</p>
        {{/if}}
      {{/if}}
    {{/if}}
    <br>
  </p>  

  <div class="dapp-modal-buttons no-margins">
    <button class="ok import dapp-primary-button" disabled={{buttonDisabled}}>
      {{#if buttonDisabled}}
        {{_ "restore.noBidsToImport"}}
      {{else}}
        {{_ "restore.button"}}
      {{/if}}
    </button>
  </div>  
</template>