<template name="layout_body">
  <!-- content-->
  <main class="dapp-content container">
    {{#if (TemplateVar.get 'isReady') }}
      {{> components_nameStatus }}
    {{else}}
      {{#if (TemplateVar.get 'theresAnError') }}
        {{#if (TemplateVar.get 'networkError')}}
          {{> useCustomContract }}
        {{else}}
          <h1>{{{_ "body.somethingHasGoneAwry"}}}</h1>
          <p>{{TemplateVar.get 'description'}}</p>
          <button class="dapp-block-button retry">Retry</button>
        {{/if}}
      {{else}}
        <h1 class="connection-status">{{TemplateVar.get 'description'}}</h1>
        {{> component_explainerBody}}
      {{/if}}
    {{/if}}
  </main>
</template>


<template name="useCustomContract">
  <div class="use-custom-contract">
    <h1>{{{_ "body.unsupportedNetwork"}}}</h1>
    <p>
      {{{_ "body.youCanEnterACustomENS"}}}
    </p>
    <p>
      {{{_ "body.customENSAddress"}}} {{> dapp_addressInput class="ens-address" }}
    </p>
    <p>
      <button class="dapp-block-button">{{{_ "body.buttonUseCustomAddress"}}}</button>
    </p>
  </div>
</template>
